html 
    head
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
        title
            | Check Lists
    body
        div.container
            h1
                | Check Lists
            p.lead Estas são suas listas
            ul
                each title in titles
                    li
                        a(href= '/lists/'+ title.id)= title.title
            form(action="/lists", method="POST")
                .input-group
                    input.form-control(placeholder= "Digite o nome da sua lista", name="title", required= true)
                    button.btn.btn-primary.btn-sm(type="submit")
                        | Salvar